.section-title {
    text-align: center;
    font-size: 30px;
    line-height: 1em;
    margin: 0;
}

.title-underline {
    width: 100px;
    height: 3px;
    background-color: #6f6344;
    display: block;
    margin: 6px auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.najmanji {
    height: 110px;
    margin: 0 75px;
    transition: 0.5s;
}

.obicni {
    height: 140px;
    margin: 0 75px;
    transition: 0.5s;
}

.image-container img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.image-container .indian {
    height: 190px;
    transition: 0.5s;
}

@media screen and (max-width: 912px) {
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .obicni {
        height: 120px;
        margin: 0 20px 20px;
        transition: 0.5s;
    }

    .najmanji {
        height: 100px;
        margin: 0 75px;
        transition: 0.5s;
    }

    .image-container img:hover {
        transform: scale(1);
    }

    .image-container .indian {

        height: 170px;
        margin: 5px;
        transition: 0.5s;
    }
}