<section id="motocikli">
    <div data-aos="fade" data-aos-once="true">
        <h3 class="section-title">Generalni zastupnik</h3>
        <span class="title-underline"></span>
    </div>

    <br><br>

    <div class="image-container" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
        <div *ngFor="let image of images" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
            <img [src]="image.src" [alt]="image.alt" [ngClass]="image.class" *ngIf="image.alt==='Indian'">
        </div>
    </div>

    <br><br>

    <h3 class="section-title" data-aos="fade" data-aos-once="true">Prodaja i servis</h3>

    <br><br>

    <div class="image-container">
        <div *ngFor="let image of images" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
            <img [src]="image.src" [alt]="image.alt" [ngClass]="image.class"
                *ngIf="image.alt==='Kawasaki' || image.alt==='Polaris'">
        </div>
    </div>

    <br><br>

    <h3 class="section-title" data-aos="fade" data-aos-once="true">Lorem ipsum dolor sit amet</h3>

    <br><br>

    <div class="image-container">
        <div *ngFor="let image of images" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
            <img [src]="image.src" [alt]="image.alt" [ngClass]="image.class"
                *ngIf="image.alt==='Ducati' || image.alt==='MV Agusta'">
        </div>
    </div>

    <br><br>


</section>