<div class="wrapper">
  <div class="slideshow">
    <div
      class="background-image"
      [ngStyle]="{
        'background-image': 'url(' + currentImage.src + ')',
        filter: 'blur(8px)'
      }"
    ></div>
    <div
      class="slide"
      *ngFor="let image of aboutImages; let i = index"
      [class.active]="i === currentIndex"
    >
      <img
        [lazyLoad]="image.src"
        [alt]="image.caption"
        (click)="stopAutoPlay()"
      />
      <div class="caption">{{ image.caption }}</div>
    </div>

    <div class="controls">
      <button (click)="prevImage()">&#10094;</button>
      <button (click)="nextImage()">&#10095;</button>
    </div>
  </div>

  <br /><br />

  <section>
    <h3 class="section-title">Povijest</h3>
    <span class="title-underline"></span>
    <img
      src="assets/media/images/logotipi/indian-logo.png"
      alt="Indian logo"
      class="section-img"
    />

    <br />

    <p
      class="about-text"
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-once="true"
    >
      Indian Motorcycle (ili <b>Indian</b>) je američka marka motocikala u
      vlasništvu i proizvodnji američkog proizvođača automobila
      <b>Polaris Inc</b>. Izvorno proizveden od 1901. do 1953. u
      <b>Springfieldu</b>, <b>Massachusetts</b>, <b>Sjedinjene Države</b>,
      <b>Hendee Manufacturing Company</b> u početku je proizvodila motocikle,
      ali je ime promijenjeno u <b>Indian Motocycle Company</b> 1923. Godine
      2011. <b>Polaris Industries</b> kupio je indijsku marku motocikala i
      preselio operacije iz <b>Sjeverne Karoline</b> te ih spojio s postojećim
      pogonima u <b>Minnesoti</b> i <i>Iowi</i>. Od kolovoza 2013.
      <b>Polaris</b> je dizajnirao, konstruirao i proizveo više linija
      motocikala pod brendom <b>Indian Motorcycle</b> koji odražavaju indijski
      tradicionalni stil. Momčad tvornice indijskih motocikala zauzela je prva
      tri mjesta na turniru <b>Isle of Man Tourist Trophy</b> 1911. godine.
      Tijekom 1910-ih, <b>Indian Motorcycle</b> je postao najveći proizvođač
      motocikala na svijetu. Najpopularniji modeli <b>Indian Motorcycle</b> bili
      su <b>Scout</b>, koji se proizvodio od 1920. do 1946., i <b>Chief</b>,
      koji se proizvodio od 1922. do 1953., kada je tvrtka
      <b>Indian Motorcycle Manufacturing Company</b>
      bankrotirala. Različite organizacije pokušale su ovjekovječiti ime marke
      <b>Indian Motorcycle</b> u narednim godinama, s ograničenim uspjehom.<br /><br />

      Uspjeh na natjecanju odigrao je veliku ulogu u brzom rastu Indiana i
      potaknuo je i tehničke inovacije. Jedan od najboljih ranih rezultata
      američke tvrtke postignut je na <b>Isle of Man TT</b> 1911., kada su
      indijski jahači <b>Oliver Cyril Godfrey</b>, <b>Franklin</b> i
      <b>Moorehouse</b> završili prvi, drugi i treći. Indijska zvijezda
      <b>Jake DeRosier</b> postavio je nekoliko brzinskih rekorda, kako u
      Americi, tako i u <b>Brooklandsu</b> u Britaniji, te je osvojio oko 900
      utrka na zemljanim i daskanim stazama. Napustio je Indian za
      <b>Excelsior</b> i umro 1913., u dobi od 33 godine, od ozljeda zadobivenih
      u nesreći na utrci na dasci s <b>Charlesom "Neustrašivim" Balkeom</b>,
      koji je kasnije postao najbolji indijski vozač. Rad u indijskoj tvornici
      je zaustavljen dok je prolazila <b>DeRosierova</b> pogrebna povorka.<br /><br />

      <b>Scout</b> je predstavljen 1920. Dizajniran od strane
      <b>Charlesa B. Franklina</b>, <b>Scout</b> je imao mjenjač pričvršćen
      vijcima za motor i pokretan je zupčanicima umjesto remenom ili lancem.
      Motor je izvorno zapremio 37 cu in (610 cc); <b>Scout 45</b>, s obujmom od
      45 cu in (kubični inč) (740 cc), postao je dostupan 1927. kako bi se
      natjecao s <b>Excelsior Super X</b>. Prednja kočnica je postala standard
      na originalnom <b>Scoutu</b> početkom 1928. Godine 1928. <b>Scout</b> i
      <b>Scout 45</b> zamijenjeni su modelom <b>101 Scout</b>. Još jedan
      <b>Franklinov</b> dizajn, <b>101 Scout</b> imao je duži međuosovinski
      razmak i nižu visinu sjedala od originala. <b>101 Scout</b> bio je poznat
      po svom upravljanju. <b>101 Scout</b> je zamijenjen
      <b>Standard Scoutom</b> za 1932. <b>Standard Scout</b> je dijelio svoj
      okvir s <b>Chiefom</b> i <b>Four</b>; kao rezultat toga,
      <b>Standard Scout</b> je bio teži i manje okretan od
      <b>101</b>.<br /><br />
    </p>
    <br />
  </section>

  <section>
    <h3 class="section-title">Vozni park</h3>
    <span class="title-underline"></span>

    <br />

    <h3>Scout</h3>

    <div
      class="product-container"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-once="true"
    >
      <div
        class="product-item"
        *ngFor="let product of scoutProducts"
        (click)="openGallery(product)"
      >
        <img [lazyLoad]="product.src" [alt]="product.name" />
        <div class="product-details">
          <h2 class="product-name">{{ product.name }}</h2>
        </div>
      </div>
    </div>
  </section>

  <br /><br />
  <div class="parallax img1"></div>
  <br /><br />

  <section>
    <h3>FTR</h3>

    <div
      class="product-container"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-once="true"
    >
      <div
        class="product-item"
        *ngFor="let product of ftrProducts"
        (click)="openGallery(product)"
      >
        <img [lazyLoad]="product.src" [alt]="product.name" />
        <div class="product-details">
          <h2 class="product-name">{{ product.name }}</h2>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h3>Cruiser</h3>

    <div
      class="product-container"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-once="true"
    >
      <div
        class="product-item"
        *ngFor="let product of cruiserProducts"
        (click)="openGallery(product)"
      >
        <img [lazyLoad]="product.src" [alt]="product.name" />
        <div class="product-details">
          <h2 class="product-name">{{ product.name }}</h2>
        </div>
      </div>
    </div>
  </section>
  <br /><br />
  <div class="parallax img2"></div>
  <br /><br />

  <section>
    <h3>Bagger</h3>

    <div
      class="product-container"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-once="true"
    >
      <div
        class="product-item"
        *ngFor="let product of baggerProducts"
        (click)="openGallery(product)"
      >
        <img [lazyLoad]="product.src" [alt]="product.name" />
        <div class="product-details">
          <h2 class="product-name">{{ product.name }}</h2>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h3>Touring</h3>

    <div
      class="product-container"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-once="true"
    >
      <div
        class="product-item"
        *ngFor="let product of touringProducts"
        (click)="openGallery(product)"
      >
        <img [lazyLoad]="product.src" [alt]="product.name" />
        <div class="product-details">
          <h2 class="product-name">{{ product.name }}</h2>
        </div>
      </div>
    </div>
  </section>

  <br /><br />

  <!-- Galerija -->
  <div class="gallery-container" *ngIf="isGalleryOpen">
    <div class="gallery-grid">
      <div class="gallery-item" *ngFor="let image of selectedProductImages">
        <a target="_blank" [href]="image">
          <img [lazyLoad]="image" [alt]="selectedProductName" />
        </a>
      </div>
    </div>
    <span class="close-icon" (click)="closeGallery()">&times;</span>
  </div>
</div>
