@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    position: fixed;
    display: flex;
    height: 70px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    z-index: 10;
    top: 0;
}

.nav-hidden {
    transform: translateY(-100%);
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #111;
    background: #fff;
}

/* Dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 5px;
}

.dropdown:hover .hover-rotate {
    transform: rotate(90deg);
}

.dropdown-animation {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

#drop-kawa,
#drop-ducati,
#drop-mv-agusta,
#drop-polaris,
#drop-indian {
    transition: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#drop-kawa:hover {
    background-color: #51802a;
}

#drop-ducati:hover {
    background-color: #c40600;
}

#drop-mv-agusta:hover {
    background-color: #ae8522;
}

#drop-polaris:hover {
    background-color: #0068ad;
}

#drop-indian:hover {
    background-color: #881f00;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}

/* Hamburger Menu */
.hamburger {
    display: none;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 1040;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 912px) {

    nav ul {
        display: none;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    nav .logo img {
        width: 100%;
        height: auto;
        margin-left: -60px;
    }

    .hamburger {
        display: block;
    }

    /* Show the menu when the hamburger button is clicked */
    .menu.show {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #1b1b1b;
        z-index: 10;
        transform: translateX(-100%);
        animation: showMenu 0.5s forwards;
    }

    @keyframes showMenu {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .hamburger.active div:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active div:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    nav ul.show li {
        margin: 15px;
    }

    nav ul.show li a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        padding: 8px;
        border-radius: 5px;
        letter-spacing: 1px;
        transition: all 0.3s ease;
    }
}