<div class="header">
    <nav>
        <img src="assets/media/images/olympic-moto-sola-logo-transparent.png" class="logo">
        <ul>
            <li><a class="hover-underline-animation" href="#pocetna">Početna</a></li>
            <li><a class="hover-underline-animation" href="#o-nama">O nama</a></li>
            <div class="dropdown">
                <div class="hover-anim">
                    <li><a class="hover-underline-animation" href="#motocikli">Motocikli</a>
                        <i class="hover-rotate fa fa-chevron-right"></i>
                    </li>
                </div>
                <div class="dropdown-content dropdown-animation">
                    <a href="#" id="drop-kawa">Kawasaki</a>
                    <a href="#" id="drop-ducati">Ducati</a>
                    <a href="#" id="drop-mv-agusta">MV Agusta</a>
                    <a href="#" id="drop-polaris">Polaris</a>
                    <a href="#" id="drop-indian">Indian</a>
                </div>
            </div>
            <li><a class="hover-underline-animation" href="#usluge">Usluge</a></li>
            <li><a class="hover-underline-animation" href="#kontakt">Kontakt</a></li>
        </ul>
    </nav>
</div>