<header ngxHideOnScroll [classNameWhenHidden]="'nav-hidden'">
    <nav>
        <div class="logo"><img src="assets/media/images/olympic-moto-sola-logo-transparent.png"></div>
        <div class="hamburger" (click)="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="menu">
            <li (click)="toggleMenu()"><a href="#">Početna</a></li>
            <li (click)="toggleMenu()"><a href="#o-nama">O nama</a></li>
            <div class="dropdown">
                <li (click)="toggleMenu()"><a href="#motocikli">Motocikli</a></li>
                <div class="dropdown-content dropdown-animation">
                    <a href="#" id="drop-kawa">Kawasaki</a>
                    <a href="#" id="drop-ducati">Ducati</a>
                    <a href="#" id="drop-mv-agusta">MV Agusta</a>
                    <a href="#" id="drop-polaris">Polaris</a>
                    <a href="#" id="drop-indian">Indian</a>
                </div>
            </div>
            <li (click)="toggleMenu()"><a href="#usluge">Usluge</a></li>
            <li (click)="toggleMenu()"><a href="#kontakt">Kontakt</a></li>
        </ul>
    </nav>
</header>