<header ngxHideOnScroll [classNameWhenHidden]="'nav-hidden'">
  <nav>
    <div class="logo">
      <a [routerLink]="['']"
        ><img
          src="assets/media/images/olympic-moto-sola-logo-transparent.png"
        />
      </a>
    </div>
    <div class="hamburger" (click)="toggleMenu()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="menu">
      <li (click)="toggleMenu()">
        <a (click)="navigateToSection('')" class="anchor-tag">Početna</a>
      </li>
      <li (click)="toggleMenu()">
        <a (click)="navigateToSection('o-nama')" class="anchor-tag">O nama</a>
      </li>
      <div class="dropdown">
        <li (click)="toggleMenu()">
          <a (click)="navigateToSection('motocikli')" class="anchor-tag"
            >Motocikli</a
          >
        </li>
        <div class="dropdown-content dropdown-animation">
          <a routerLink="pages/indian" id="drop-indian">Indian</a>
          <a routerLink="pages/kawasaki" id="drop-kawa">Kawasaki</a>
          <a routerLink="pages/polaris" id="drop-polaris">Polaris</a>
          <a routerLink="pages/ducati" id="drop-ducati">Ducati</a>
          <a routerLink="pages/mv-agusta" id="drop-mv-agusta">MV Agusta</a>
        </div>
      </div>
      <li (click)="toggleMenu()">
        <a (click)="navigateToSection('usluge')" class="anchor-tag">Usluge</a>
      </li>
      <li (click)="toggleMenu()">
        <a (click)="navigateToSection('kontakt')" class="anchor-tag">Kontakt</a>
      </li>
    </ul>
  </nav>
</header>
