<section id="kontakt">
    <div data-aos="fade" data-aos-duration="1500">
        <h3 class="section-title">Kako do nas?</h3>
        <span class="title-underline"></span>
    </div>

    <br>
    <div class="wrapper">
        <div class="google-map" data-aos="fade-right" data-aos-duration="1500">
            <div style="width: 100%"><iframe width="520" height="433" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=520&amp;height=433&amp;hl=en&amp;q=Srijemska%208,%20Split+(OLYMPIC%20MOTO%20%C5%A0ola)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.maps.ie/distance-area-calculator.html">distance maps</a></iframe></div>
        </div>

        <div class="text-content" data-aos="fade-left" data-aos-duration="1500">
            <p>
                Možete nas pronaći na adresi Srijemska 8, 21000 Split.<br>
                Nalazimo se preko puta autopraonice nedaleko od trgovačkog
                centra Mall of Split.
            </p>
            <br>
            <p>
                Sve upite vezano za poslovanje naše trgovine, a i informacije o samom asortimanu,
                možete saznati na:
            </p>

            <br>
            <div class="image-text">
                <img src="assets/media/images/kako-do-nas/location.png" alt="Location icon">
                <p>Srijemska 8, 21000 Split</p>
            </div>
            <div class="image-text">
                <img src="assets/media/images/kako-do-nas/telephone.png" alt="Telephone icon">
                <p>+385 21 248 876</p>
            </div>
            <div class="image-text">
                <img src="assets/media/images/kako-do-nas/mobile-phone.png" alt="Mobile phone icon">
                <p>+385 91 540 6616</p>
            </div>
            <div class="image-text">
                <img src="assets/media/images/kako-do-nas/mail.png" alt="E-mail icon">
                <p><a href="mailto:info@kawasakisplit.hr"
                        style="text-decoration: none; color: black;">info@kawasakisplit.hr</a></p>
            </div>
            <div class="working-hours image-text">
                <img src="assets/media/images/kako-do-nas/working-hours.png" alt="Working hours icon">
                <div class="paragraphs-working-hours">
                    <p><strong>Radno vrijeme:</strong></p>
                    <p>Ponedjeljak - Petak: 09:00 - 17:00</p>
                    <p>Subota: 09:00 - 12:00</p>
                    <p>Nedjelja: Ne radimo</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>