section {
    padding: 0 5em 0 5em;
}

.video-cover video {
    position: relative;
    display: block;
    object-fit: cover;
    height: 100%;
    visibility: visible;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 100%;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    z-index: -1;
}

.img1 {
    background-image: url(../assets/media/images/fixed/moto-1.jpg);
    min-height: 500px;
}

.img2 {
    background-image: url(../assets/media/images/fixed/crew-1.jpg);
    min-height: 500px;
}

.img3 {
    background-image: url(../assets/media/images/fixed/formula-1.jpg);
    min-height: 500px;
}

.parallax {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (min-aspect-ratio: 16/9) {
    .video-cover video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-cover video {
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 912px) {
    .video-cover video {
        margin-top: 50px;
    }
}