<div class="wrapper">
    <section id="o-nama">
        <div data-aos="fade" data-aos-once="true">
            <h3 class="section-title">O nama</h3>
            <span class="title-underline"></span>
        </div>

        <br>
        <div class="wrapper">
            <div class="image-text-container">
                <div class="image" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
                    <img src="assets/media/images/about-us/ivan-sola.jpg">
                </div>
                <span class="sola-text" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">
                    <p>
                        Osnivač firme je <i>Ivan Šola</i>, višestruki prvak i osvajač kupova u GP brzinskom
                        motociklizmu,
                        jedan od najpoznatijih sportaša na području <b><i>EX-YU</i></b> i <b>Hrvatske</b>. Dugogodišnja
                        prisutnost
                        na motociklističkoj sceni i poduzetnički duh rezultirao je otvaranjem <b>OLYMPIC MOTO Šola</b>
                        trgovine
                        i servisa. Publika pamti njegove odvažne nastupe pa tako i legendarno osvajanje prvenstva s
                        otvorenim prijelomom ključne kosti. Jednostavno rečeno, <i>Ivan Šola</i> je ikona međunarodne
                        moto
                        scene.
                    </p>
                </span>
            </div>

            <div class="image-text-container">
                <span class="sola-text" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
                    <p>
                        <b>OLYMPIC MOTO ŠOLA d.o.o.</b> je glavni zastupnik <i>Indiana</i> za Splitsko-dalmatinsku
                        županiju.
                        Nalazi se na adresi Srijemska 8, u ulici nasuprot samoposlužne autopraonice blizu trgovačkog
                        centra <b>Mall of Split</b>.
                        Osim prodaje moto opreme i originalnih rezervnih dijelova, ovlašteni smo servis za sve
                        <b>Kawasaki</b> proizvode (Jet-ski, quadove) kao i SYM skutere. Ponudu proširujemo sa
                        elektro programom City COCO, Volta i dr. Osim ovlaštenih servisa nudimo brzu i povoljnu
                        uslugu
                        popravka svih
                        vrsta motora i skutera uz garanciju. Glavni stručni tim mehaničara sastoji se od grupe ljudi
                        koji su uz <i>Ivana Šolu</i> i
                        njegov moto GP tim bili dugi niz godina.
                    </p>
                </span>
                <div class="image" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">
                    <img src="assets/media/images/about-us/olympic_moto_sola-cover.jpeg">
                </div>
            </div>
        </div>
        <br><br>
    </section>
</div>