* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #333333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
    section {
        padding: 0 2em 0 2em;
    }

    [data-aos] {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
    }
}